@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.textareaWrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  
  &--full-width {
    width: 100%;
  }
}

.labelRow {
  @include flex-between;
}

.label {
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  color: $color-text-primary;
}

.required {
  color: $color-error;
  margin-left: 2px;
}

.counter {
  font-size: $font-size-xs;
  color: $color-text-secondary;
}

.textarea {
  width: 100%;
  padding: 12px 16px;
  font-size: $font-size-md;
  font-family: $font-family-base;
  color: $color-text-primary;
  background-color: $color-white;
  border: 2px solid rgba($color-dark, 0.2);
  border-radius: $radius-md;
  transition: all $transition-fast;
  resize: vertical;
  
  &::placeholder {
    color: $color-text-tertiary;
  }
  
  &:hover:not(:disabled) {
    border-color: rgba($color-dark, 0.3);
  }
  
  &:focus {
    outline: none;
    border-color: $color-primary;
    box-shadow: 0 0 0 3px rgba($color-primary, 0.1);
  }
  
  &:disabled {
    background-color: rgba($color-dark, 0.05);
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  &--error {
    border-color: $color-error;
    
    &:focus {
      border-color: $color-error;
      box-shadow: 0 0 0 3px rgba($color-error, 0.1);
    }
  }
  
  &--full-width {
    width: 100%;
  }
}

.errorMessage {
  font-size: $font-size-xs;
  color: $color-error;
}

.helperText {
  font-size: $font-size-xs;
  color: $color-text-secondary;
}
