@import '@/styles/variables.scss';

.spinner {
  display: inline-block;
  
  &--centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
  }
}

.spinnerCircle {
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.spinner--small .spinnerCircle {
  width: 16px;
  height: 16px;
  border: 2px solid rgba($color-dark, 0.2);
  border-top-color: $color-dark;
}

.spinner--medium .spinnerCircle {
  width: 32px;
  height: 32px;
  border: 3px solid rgba($color-dark, 0.2);
  border-top-color: $color-dark;
}

.spinner--large .spinnerCircle {
  width: 48px;
  height: 48px;
  border: 4px solid rgba($color-dark, 0.2);
  border-top-color: $color-dark;
}

.spinner--primary .spinnerCircle {
  border-color: rgba($color-dark, 0.3);
  border-top-color: $color-dark;
}

.spinner--dark .spinnerCircle {
  border-color: rgba($color-dark, 0.2);
  border-top-color: $color-dark;
}

.spinner--light .spinnerCircle {
  border-color: rgba($color-white, 0.3);
  border-top-color: $color-white;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
