@import '@/styles/variables.scss';

.loading {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  margin-bottom: $spacing-3xl;
  
  h1 {
    margin-bottom: $spacing-sm;
  }
  
  p {
    color: $color-text-secondary;
    font-size: $font-size-lg;
  }
}
