@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.card {
  background: $color-white;
  border-radius: $radius-lg;
  box-shadow: $shadow-md;
  transition: all $transition-base;
  
  &--padding-none {
    padding: 0;
  }
  
  &--padding-small {
    padding: $spacing-md;
  }
  
  &--padding-normal {
    padding: $spacing-lg;
  }
  
  &--padding-large {
    padding: $spacing-xl;
  }
  
  &--hoverable {
    &:hover {
      box-shadow: $shadow-lg;
      transform: translateY(-4px);
    }
  }
  
  &--clickable {
    text-align: left;
    width: 100%;
    cursor: pointer;
    
    &:focus-visible {
      @include focus-ring;
    }
  }
}
